.container {
  align-items: center;
  background-color: #ef5b0c;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  display: flex;
  font-size: 0.8rem;
  height: 50px;
  padding-left: 1rem;
  width: 100%;

  h2 {
    color: #fff;
    margin: 0;
  }
}
